Source: gimmage
Section: graphics
Priority: extra
Maintainer: Bartosz Kostrzewa <zoombat |AT| runbox |DOT| com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: gimmage
Architecture: any
Provides: gimmage
Conflicts: gimmage
Replaces: gimmage
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: gimmage: a small unix image viewer
 A simple image viewer that aims to have a minimalist interface and tries 
 to be keyboard operable for browsing through a large number of images 
 quickly. It is appropriate for command line usage as it accepts 
 directories and image filenames as arguments. It has an in-application 
 file browser that allows users to select and drag images and directories 
 into the image viewing area in order to have them displayed.
 .

